:root {
  --primary-bg:#f8f8f8;
  --secondary-bg:#dcdcdc;
  --primary-text:#1e1e1e;
  --secondary-text:#999999;
  --accent:#003ffd; 
}

.login-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    /* background-color: var(--secondary-bg); */
    /* font-size: 67.5%; */
}

.login-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: fit-content; */
    background-color: var(--primary-text);
    color: var(--primary-bg);
    /* background-color: red; */
    display: flex;
    padding: 30px 50px; 
    border-radius: 5px;
    height: 500px;
}

.login-header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header h1
{
    color: var(--text-primary);
    font-size: 30px;
    margin: 20px;
    margin-top: 0;
}

label
{
    font-size: 20px;
}
form
{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

form input
{
    font-size: 10px;
    padding: 10px;
    width: 30vw;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    /* background-color: var(--secondary-bg); */
    color: #1e1e1e;
}

.login-btn
{
    margin-top: 25px;
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: var(--accent);
    cursor: pointer;
    border-radius: 5px;
    transition: ease 0.5s;
    font-weight: 500;
}


.login-bottom
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
}

span
{
    font-size: 15px;
    cursor: pointer;
}

.signup
{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-bg);
    text-decoration: underline;
    font-weight: 600;
    margin-left: 3px;
}