body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

section h1 {
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.event-container {
    display: block;
}

.event {
    position: relative;
    overflow: hidden;
}

.event.small {
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-bottom: 10px;
    animation: growWidth 2s forwards;
}

.event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

#school h2 {
    margin-top: 15px;
    text-align: center;
    font-weight: 350;
    letter-spacing: 3px;
    font-size: 30px;
    
}

#school h3 {
    margin: 50px 50px 50px 700px;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 16px;
    text-align: left;
}

#school div {
    display: flex;
    gap: 5px;
    margin-left: 150px;
}

#school div img {
    display: flex;
    width: 440px;
    height: 330px;
    gap: 20px;
    object-fit: fill;
    cursor: pointer;
}

#school div img:hover {
    transform: scale(0.9);
    transition: all 0.7s ease-in-out;
}

.workplace {
    display: flex;
}

.workplace h1, .workplace h4 {
    text-align: left;
    margin: 20px 50px 30px 400px;
}

.workplace-img {
    margin: 20px 200px 0 0;
    width: 100%;  
    height: 100%;
    object-fit: cover;
    animation: growWidth 2s forwards;
    cursor: pointer;
}

.workplace-img:hover {
    filter: brightness(50%);
    transform: scale(0.9);
    transition: all 0.7s ease-in-out;
}

.vision{
    display: flex;
}

.circle {
    margin: 0 0 0 100px;
    width: 500px;
    height: 500px;
    background-color: #fed355; 
    border-radius: 50%; 
}

.links {
    margin: 20px 0 0 205px;
    font-size: 18px;
}

.links p {
    text-align: left;
    font-weight: bold;
    margin: 10px 0;
}

.links p a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.links p a:hover {
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    text-decoration: underline;
}

.vision hr {
    width: 450px;
    height: 2px;
    border: 0;
    background-color: black;
}

.png-image {
    position: relative;
    background-image: url(../assets/img-9.png);
    margin: -150px 0 0 0;
    width: 100%;
    height: 50vh;
}

.png-image div {
    display: flex;
    flex: 1;
}

.png {
    margin: -50px 0 0 250px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    animation: growWidth 2s forwards;
}

.text{
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
}

.text h1 {
    margin: 20px 0 0 -300px;
    font-size: 40px;
}

.text h4 {
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 300px;
}

.about-sh{
    margin-top: 20px;
}

.about-sh a{
    align-items: center;
    margin-left: 50px;
    margin-right: 475px;

    font-weight: bold;
    color: #fed355;
    cursor: pointer;
    text-decoration: none;
}

.about-sh a:hover {
    text-decoration: underline;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes growWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}